*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f2449;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
}

#logincont{
    border-radius: 15px;
    background-color: rgb(236, 252, 255);
    font-weight: 300;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#left img{
    border-radius: 50%;
    object-fit: cover; 
    

}

#left{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(37, 167, 218);
    border-radius: 800px;

}

#textarea{
    color:rgb(5, 5, 86);
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    text-decoration: underline;
    
}

#smalltext{
    color: rgb(3, 53, 51);
    text-align: center;
    margin-top: 10px;
    
}

/*------------ Right box ------------*/
.right-box{
    padding: 60px 30px 40px 40px;
}
/*------------ Email/pwd  ------------*/
::placeholder{
    font-size: 18px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}

/* styles.css */

/* Styling for header text */
.header-text {
    margin-bottom: 1.5rem; 
}

.header-text h3 {
    font-size: 40px; /* equivalent to h3 */
}

.header-text p {
    font-size: 20px; /* equivalent to .small */
}

/* Styling for input groups */
.input-group {
    margin-bottom: 30px; 
}

.input-group .form-control {
    background-color: rgb(196, 229, 255); 
    font-size: 1rem; 
    padding: 0.75rem; 
}

.input-group .form-check {
    display: flex;
    align-items: left;
    margin-left: 10px;
    margin-top: 30px;
}

.input-group .form-check-label {
    font-size: 20px; /* small text */
    color: #6c757d; /* text-secondary */
    margin-left: 10px;
    margin-top: 1px;
}

.forgot{
    font-size: 20px;
}

.input-group .form-check-input {
    font-size: 20px; /* small text */
    color: #6c757d; /* text-secondary */
}

/* Button styling */
.btn-primary {
    font-size: 100px; 
    width: 100%; 
    padding: 0.75rem; 
    
}

.btn-light {
    font-size: 60px; /* fs-6 */
    width: 100%; /* w-100 */
    padding: 0.75rem; /* btn-lg */
    
}

.btn-light img {
    width: 30px;
    margin-right: 0.5rem; /* me-2 */
}

.row{
    font-size: 20px;
}

