*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: #d9fbff;
}
#logo{
    font-size: 36px;
    font-weight: 650;
    color: rgb(21, 92, 19);
    text-shadow: 0px 2px 2px black;
    margin-bottom: 5px;
    margin-left: 0px;
}

#logo span{
    color: #ff3a75;
}

.navbar-toggler span{
    color: #ff3a75;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ff3a75;
    color: white;
}
#navbar form button{
    background: #ff3a75;
    color: white;
    border: none;
}


/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .cont{
    text-align: center;
    padding-top: 200px;
}
.home .cont h5{
    color: white;
    font-size: 48px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .cont h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ff3a75;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Delhi";}
    10%{content: "Tamil Nadu";}
    20%{content: "Madurai";}
    30%{content: "Chennai";}
    40%{content: "Andamman";}
    50%{content: "Maldives";}
    60%{content: "Bali";}
    70%{content: "Thailand";}
    80%{content: "Dubai";}
    90%{content: "London";}
    100%{content: "Andhra";}
} 
.home .cont p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .cont a{
    padding: 10px;
    background: #ff3a75;
    color: black;
    letter-spacing: 2px;
    font-weight: 650;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .cont a:hover{
    background: white;
    color: #ff3a75;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .cont h5{
        font-size: 25px;
    }
    .home .cont h1{
        font-size: 38px;
    }
    .home .cont p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    background: #e3ffdd;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ff3a75;
}
.book .card{
    border-radius: 0px;
    border-color: #ff3a75;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border-color: #ff3a75;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    
    border-radius: 10px;
    border-color: #ff3a75;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ff3a75;
    color: white;
    margin-top: 30px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */





/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 35px;
    font-weight: 700;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ff3a75;
}
.packages .card{
    border-radius: 30px;
    border-color: #72d45c;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 0px;
}
.packages .card .card-body{
    background:#ffeff5
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #215516;
}
.packages .card .card-body p{
    font-size: 15px;
    font-style: italic;
}
.checked{
    color: #ff3a75;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ff3a75;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}
/* Section Packages End */




/* Section Services Start */
.services{
    background: #ffcaf4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 60px;
    text-align: center;
    color: #ff3a75;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
    color: #215516;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.services .card .card-body{
    text-align: center;
}
/* Section Services End */





/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */




/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #e3ffdd;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 700;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ff3a75;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #dffffd;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ff3a75;
}
.social i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social i:hover{
    background: #ff3a75;
}
/* Footer End */